.classpath 
.project 
.settings/ 
bin/ 
target/ 
 
.vscode/ 
*.code-workspace 
 
.DS_Store 
Thumbs.db 
 
*.class 
*.log 
*.jar 
*.war 
*.ear 
hs_err_pid* 
 
*.iml 
*.ipr 
*.iws 
.idea/ 

# --- Exceptions needed for this project ---
!.vscode/
!.vscode/settings.json
!lib/*.jar